<%- include('../partials/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/styles/admin.css"/>
<nav id = "nav1"> 
    <div id = "nameP">Chaney’s Delights</div>
</nav>
<!-- SIDE BAR -->
<div id="mySidenav" class="sidenav">
    <div><a href ="/admin/bulk">BULK</a></div>
        <div><a href ="/admin/edit">EDIT</a></div>
        <div><a href ="/homepage">SIGNOUT</a></div>

</div>
    <!-- open close-->
<span id= "nav" OnClick="openNav()">&#9776; NAV</span>
