<form id="delete-product-form" action="/products/delete/<%= product.id %>" method="POST">
    <label for="product-id">Id Number:</label>
    <input type="number" id="product-id" name="id" value="<%= product.id %>">
    <button type="submit" id="delete-product-btn">Delete</button>
</form>