<nav id = "nav1"> 
    <div id = "nameP">Chaney’s Delights</div>
    <div id = "search"> <span class = "search"><form action="#"><input type="text" placeholder="Search" name="search">
        <button id="searchButton">Search</button><a href="#" class="button"></a></div>
    <div class = "login">
        <i class="material-icons" id = "navIcon">face_2</i>
        <a href="/login">Sign In</a></div>
    <div id = ShoppingCart><i class="material-icons" id = "navIcon" ><a href="/cart">shopping_cart_checkout</a></i></div>
</nav>
<!-- SIDE BAR -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" OnClick="closeNav()">&times;</a>
    <div><a href ="/homepage">HOME</a></div>
    <div><a href ="/products/all">SHOP</a></div>
    <div><a href ="/cart">CART</a></div>
    
    <div><a href ="/login">LOGIN/ SIGN-UP</a></div>
</div>
    <!-- open close-->
<span id= "nav" OnClick="openNav()">&#9776; NAV</span>


