 <%- include('partials/header') %>
 <%- include('partials/admin-nav') %>
 <script src="/scripts/bulk-upload.js" defer></script>

 
        <title>Bulk</title>
    </head>
 
 <!-- Upload File -->
 <body>
            <div id="hook">
                <!-- this container contains the info for the bulk upload section -->
                <div id="container-bulk">
                    <h1>Bulk Product Upload</h1>
            
                    <form id="bulk-upload-form">
                        <div id="file-upload-container">
                            <h2>Select a JSON file: </h2>
                            <input type="file" id="file" name="file" accept=".json"><br>
                            <button type="submit">Submit</button>
                        </div>
                    </form>
            
                    <pre>
            
Example File
            
 [
 {
    "id":20
    "name": "Product 5",
    "description": "Description 1",
    "url": "http://www.example.com",
    "price": 10.99,
    "front_page":0,
    "category_id": "Category 1",
},
{
    ""id":21,
    "name": "Product 6",
    "description": "Description 1",
    "url": "http://www.example.com",
    "price": 10.99,
    "front_page":0,
    "category_id": "Category 1",
 },
 // ... more products
 ]
                        </pre>
            
                </div>
            </div>
</body>

</body>
</html>