 <%- include('partials/header') %>
 <%- include('partials/admin-nav') %>
        <title>Bulk</title>
    </head>
 
 <!-- Upload File -->
 <body>
 <form>
    <h2>Upload File</h2>
    <div class="container">
    <p>Please select a file to upload:</p>
    <input id = "file" type="file" name="fileUpload">
    <p>Accepted file types: .png, .jpeg, </p>
    <p>wowwowWenzy.png</p>
    <button type="submit">Upload File</button>
</form></div>

</body>
</html>