<%- include('./partials/header') %>
<%- include('./partials/nav') %>
    <link rel="stylesheet" type="text/css" href="/styles/cart.css"/>
    <title>Cart</title>
  </head>

  <body>
   
<div id="cartTable">
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody id ="table-display">
            <tr>
                <td><img src="/images/Chcookie.jpeg" alt="Item Image"></td>
                <td id="name">Chocolate Chip</td>
                <td id ="price">$10.00</td>
                <td><button onclick="Remove()" id="remove">x</button></td>
            </tr>
            <!-- Add more rows for other items in the cart -->
        </tbody>
    </table>
</div>



        <div id = "cartTotal">
            <div id = "cartTotalTitle"><u>Total</u></div>
            <div id = "cartTotalPrice">$10.00</div>
            <button onclick="checkout()" class = "checkout-button">Checkout</button>
        </div>
    </div>
    <%- include('./partials/footer') %>
  </body>
  <script>
     function Remove() {
        document.getElementById("table-display").style.display = "none";
        document.getElementById("cartTotalPrice").innerHTML = "$0.00";
   }
   function checkout() {
       alert("Thank you for shopping with us");
       document.getElementById("table-display").style.display = "none";
       document.getElementById("cartTotalPrice").innerHTML = "$0.00";
   }
  </script>

</html>