<%- include('partials/header') %>
<%- include('partials/admin-nav') %>
    <link rel="stylesheet" type="text/css" href="/styles/admin.css"/>
    <script src="/scripts/product-details.js" defer></script>
    <script src="/scripts/product-edits.js" defer></script>
    <title>Product Edit</title>
  </head>

<body>
    <h2>Product Creation</h2>
    <%- include('partials/new',) %>
</body>
</html>