<%- include('./partials/header') %>
<%- include('./partials/nav') %>
<link rel="stylesheet" type="text/css" href="/styles/disProducts.css"/>
<title>
  <%= title %>
</title>
<body>
     
<div id = "mealtitle">Baked Goods</div>

<!-- Row 1 -->
<!-- Item Listings -->
<div class = "names"><h2>Cookie</h2></div>
<!-- Pic 1-->
<secrion id = row1 >
  <a href="details">
<div class="ListProducts zoom" >
  <div class="items">
    <img src="/images/cookiePic.jpg" alt="">
<h2>Name</h2>
<div class ="price">
  Price
</div>
<button id = "addOne" >
  <a href="details"> DETAILS</a>
</button>
  </div>
</div>
</a>
<!-- Pic 3 -->
<a href="details">
<div class="ListProducts zoom" >
  <div class="items">
    <img src="/images/cookiePic.jpg" alt="">
<h2>Name</h2>
<div class ="price">
  Price
</div>
<button id = "addOne" >
  <a href="/details"> DETAILS</a>
</button>
  </div>
</div>
</a>

<!-- pic 4 -->  
<a href="details">
<div  class="ListProducts zoom" >
  <div class="items">
    <img src="/images/cookiePic.jpg" alt="">
<h2>Name</h2>
<div class ="price">
  Price
</div>
<button id = "addOne" >
    DETAILS
</button>

</div>
</div>
</a>
<a href="details">
<div class="ListProducts zoom" >
  <div class="items">
    <img src="/images/cookiePic.jpg" alt="">
<h2>Name</h2>
<div class ="price">
  Price
</div>
<button id = "addOne" >
  <a href="details"> DETAILS</a>
</button>
  </div>
</div>
</a>
</secrion>
<div class="main-body">
  <div class="main-body">
    <div class="detail-body">
        <div class="detail-sub-left">
            <h1 id="item-detail-name">Product name:</h1>
            <img class="item-detail-thumbnail" src="url" alt="item-detail-thumbnail">
        </div>
        <div class="detail-sub-right">
 

<%- include('./partials/footer') %>  
</body>

</html>