img{
    height: 100px;
    width: 100px;
}
#cartTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#cartTable th,
#cartTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#cartTable th {
    background-color: #f2f2f2;
    width:40%;
}

#cartTable img {
    height: 100px;
    width: 100px;
}

#remove {
  align-items: center;
  background-color: #a5c8a5;
  width: 10px;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  /* font-family: Inter,sans-serif; */
  font-size: 20px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


#remove:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

#remove:hover:after {
  transform: translate(0, 0);
}

#remove:active {
  background-color: #ffdeda;
  outline: 0;
}

#remove:hover {
  outline: 0;
}

@media (min-width: 768px) {
  #remove  {
    padding: 0 40px;
  }
}
#cartTotal {
    margin-top: 20px;
    font-size: larger;
    font-weight: bold;  
}


/* Check Out Button */
.checkout-button  {
  align-items: center;
  background-color: #a5c8a5;
  width: fit-content;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  /* font-family: Inter,sans-serif; */
  font-size: 20px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.checkout-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.checkout-button:hover:after {
  transform: translate(0, 0);
}

.checkout-button:active {
  background-color: #ffdeda;
  outline: 0;
}

.checkout-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .checkout-button {
    padding: 0 40px;
  }
}