
.container{
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
  justify-content: space-around;
  margin: 5%;
}

#product-image{
  width:200px;
  height:200px;
  justify-content: center;
  margin-left: 8%;
}
 .ListProducts{
  margin: 5px;
  width: 300px;
border-radius: 20px;
margin-bottom: 10%;
 }
 .ListProducts .items{
  padding: 20px;
  border-radius: 20px;
  border:5px solid rgb(62, 39, 9);
 }
 .ListProducts .items h2{
  font-weight: 500px;
  font-size: large;

 }
 .ListProducts .items .price{
  letter-spacing: 7px;
  font-size: small;
 }
 .ListProducts .items button{
  background-color: white;
  color: rgb(62, 39, 9);
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;

 }
 .zoom{
  transition: transform .2s; /* Animation */
}
.zoom:hover{
  transform: scale(1.2);

}