
.container{
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
  justify-content: space-around;
}

#product-image{
  width:200px;
  height:200px;
  border: 1px solid black;
  justify-content: center;

}
 .ListProducts{
  margin: 5px;
  width: 300px;

 }
 .ListProducts .items{
  padding: 20px;
  border-radius: 20px;
  border:2px solid rgb(62, 39, 9);
 }
 .ListProducts .items h2{
  font-weight: 500px;
  font-size: large;

 }
 .ListProducts .items .price{
  letter-spacing: 7px;
  font-size: small;
 }
 .ListProducts .items button{
  background-color: white;
  color: rgb(62, 39, 9);
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;

 }
 .zoom{
  transition: transform .2s; /* Animation */
}
.zoom:hover{
  transform: scale(1.2);

}